.letter {
	font-size: 50px;
	text-align: center;
	box-shadow: 0 1.5px 3px #626262;
    height: 80px;
    line-height: 80px;
    text-transform: uppercase;
    border-radius: 4px;
    color: #35342D;
    width: 80px;
    display: inline-block;
    background: #F7C949;
    margin: 0 5px;
    float: left;
}